body{
    font-family: 'Segoe UI', sans-serif;
    background: #ddd1c5;
}

/* Contenedor general */
.login-wrapper{
    width: 1000px;
    max-width: 95%;
    border-radius: 25px;
}

/* Imagen izquierda */
.img-overlay{
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

/* Texto encima de la imagen */
.overlay-text{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

/* Color personalizado verde azulado */
.text-teal{
    color: #0f6f67;
}

.btn-teal{
    background: #0f6f67;
    color: white;
    font-weight: 600;
    border: none;
}

.btn-teal:hover{
    background: #0c5c56;
}

/* Inputs estilo moderno */
.input-custom{
    background: #f4f4f4;
    border-radius: 15px;
    padding: 5px 10px;
}

.input-custom .form-control{
    background: transparent;
    box-shadow: none;
}

.input-custom:focus-within{
    border: 1px solid #0f6f67;
}

/* Fondo */
.bg-body-custom{
    background: #ddd1c5;
}