body{

background:#ddd1c5;
font-family:Arial;
margin:0;

display:flex;
align-items:center;
justify-content:center;
height:100vh;

}


.box{

background:white;
padding:50px;
border-radius:20px;
width:400px;
text-align:center;

}


input{

width:100%;
padding:12px;
border-radius:10px;
border:1px solid #ccc;
margin-top:10px;
margin-bottom:20px;

}

button{

width:100%;
padding:14px;
background:#0f6f67;
border:none;
border-radius:10px;
color:white;
cursor:pointer;

}

.back{
display:block;
margin-top:20px;
text-decoration:none;
color:#0f6f67;
}